{% extends "layout.html" %}
{% block content %}

<div class="match-header">
  <h2><i class="fa-solid fa-briefcase"></i> Recommended Jobs</h2>
</div>

<div class="job-grid">
  <div class="job-card">
    <h3>Cloud Engineer</h3>
    <p><i class="fa-solid fa-location-dot"></i> Remote</p>
    <p><i class="fa-solid fa-star"></i> Match: 88%</p>
    <button class="apply-btn">View Details</button>
  </div>

  <div class="job-card">
    <h3>Python Developer</h3>
    <p><i class="fa-solid fa-location-dot"></i> Bangalore</p>
    <p><i class="fa-solid fa-star"></i> Match: 79%</p>
    <button class="apply-btn">View Details</button>
  </div>
</div>

{% endblock %}
