<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - Resume Analyzer</title>

     <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='images/squre_logo1.png') }}?v=2"
    />
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forgot_password.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="forget_pass">
      <div class="container">
        <div class="card form-box">
          <div class="logo-area">
            <img
              src="{{ url_for('static', filename='images/tranperent_logo.png') }}"
              alt="logo"
            />
          </div>

          <h2 class="title">
            Forgot Password
          </h2>
          <p class="subtitle">
            Enter your email and we'll send you a reset link
          </p>
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert {{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}

          <form method="POST" id="forgotForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group">
              <label><i class="fa-solid fa-envelope"></i> Email</label>
              <input
                type="email"
                name="email"
                id="emailInput"
                placeholder="Enter your registered email"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              id="submitBtn"
              style="width: 100%"
            >
              <span id="btnText">Send Reset Link</span>
              <i
                id="spinner"
                class="fa-solid fa-circle-notch fa-spin"
                style="display: none; margin-left: 8px"
              ></i>
            </button>
          </form>

          <p class="link-text">
            Remembered your password?
            <a href="{{ url_for('signin') }}">Sign In</a>
          </p>
        </div>
      </div>
    </div>

    <script>
      const form = document.getElementById("forgotForm");
      const submitBtn = document.getElementById("submitBtn");
      const btnText = document.getElementById("btnText");
      const spinner = document.getElementById("spinner");

      form.addEventListener("submit", function () {
        submitBtn.disabled = true;
        btnText.textContent = "Sending Mail...";
        spinner.style.display = "inline-block";
      });
    </script>
  </body>
</html>
